/* Consent & Privacy - Hide minimized bulb */
.cmplz-manage-consent {
	display: none !important;
}

/* Align logo in the middle */
.cmplz-logo {
	grid-column-start: 2;;
}

/* Improve consent banner logo styling */
.cmplz-logo img {
	 border-radius: unset;
    max-width: 100%;
    max-height: 100% !important;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    height: 65px;
}

/* Style the consent banner title */
.cmplz-title {
	display: none;
}