/* Consent & Privacy - Hide minimized bulb */
.cmplz-manage-consent {
	display: none !important;
}

/* Consent & Privacy - Align logo in the middle */
.cmplz-cookiebanner .cmplz-logo {
	grid-column-start: 2;
}

/* Consent & Privacy - Improve consent banner logo styling */
.cmplz-cookiebanner .cmplz-logo img {
	border-radius: unset;
    max-width: 100%;
    max-height: 100% !important;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    height: 65px;
}

/* Consent & Privacy - Style the consent banner title */
.cmplz-cookiebanner .cmplz-title {
	display: none;
}